@model ReportSystem.ViewModels.ApplicationUserChart;

<link rel='stylesheet' href='/css/organization_chart.css    '>

<div class="genealogy">
    <dl>
        <dt>廣井しょう</dt>
        <dd>ラーハルト</dd>
        <dd>ボラホーン</dd>
        <dd>ガルダンディー</dd>
        <dd>aaaaaaaaaa</dd>
    </dl>
</div>
