@{
    ViewData["Title"] = "Home Page";
}



@if (TempData["ProjectError"] != null)
{
    <div class="alert alert-danger alert-dismissable fade show m-1" role="alert">
        @TempData["ProjectError"]
        <button class="btn-close" type="button" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}
@if (TempData["AlertError"] != null)
{
    <div class="alert alert-danger alert-dismissable fade show m-1" role="alert">
        @TempData["AlertError"]
        <button class="btn-close" type="button" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}

<head>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">

    <link rel="stylesheet" type="text/css" href="/css/rold.css">
    @* <link href="https://coco-factory.jp/ugokuweb/wp-content/themes/ugokuweb/data/reset.css" rel="stylesheet"> *@
    @* <link href="https://coco-factory.jp/ugokuweb/wp-content/themes/ugokuweb/data/4-1-4/css/4-1-4.css" rel="stylesheet"> *@
    @* 上がローディング、下が背景アニメ *@
    <link rel="stylesheet" type="text/css" href="/css/Animation1.css">
</head>

@* 上がタイトル画面 *@
@* 波打ってくれ頼む！↓ *@

<body>
    <!--==============レイアウトを制御する独自のCSSを読み込み===============-->
    <script>
        //logoの表示
        $(window).on('load', function () {
            $("#splash").delay(1500).fadeOut('slow');//ローディング画面を1.5秒（1500ms）待機してからフェードアウト
            $("#splash_logo").delay(1200).fadeOut('slow');//ロゴを1.2秒（1200ms）待機してからフェードアウト
        });
    </script>


   
        <div id="splash">
            <div id="splash_logo">
            <img src="/images/5a42979bb8799d42fa4503345f95bf3a1e7ba5a6.png" alt="" class="fadeUp" width="400%" height="400%">
            </div>
        </div>

        <main>
            <div id="container">






    @* <div style="display: flex; justify-content: center; align-items: flex-start;"> *@
    <div style="display: flex; justify-content: center; align-items: center;">
   <div class="area">
        <ul class="circles">



            <li></li>
            <li></li>
            
            <li></li>
            <li></li>
            <li></li>
                <li></li>
                <li></li>
                <li></li>



            <div class="logo-home">
                    <img class="purun" src="/images/logo_tate.png" />
            </div>
           
           
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>

        <div class="home-message">
            <div class="p-3">
                @if (User.IsInRole("Admin"))
                {
                    <h1 class="dxm-effect text-center">あなたはAdminです</h1>
                }
                else if (User.IsInRole("Manager"))
                {
                    <h1 class="dxm-effect text-center">あなたはManagerです</h1>
                }
                else if (User.IsInRole("Member"))
                {
                    <h1 class="dxm-effect text-center">あなたはMemberです</h1>
                }
                else
                {

                    <div class="bg"></div>
                    <div class="bg bg2"></div>
                    <div class="bg bg3"></div>
                    <div class="content">
                    </div>
                    <h1 class="dxm-effect text-center">レポルンへようこそ！ :Welcome to Reporn</h1>
                    @* <h1 class="text-center">レポルンへようこそ！</h1> *@
                }
                    </div>
                </div>

   
            <li></li>
 
        <script src="/js/DXMEffect.js"></script>
        <script>
            const elements = document.querySelectorAll('.dxm-effect');
            [].forEach.call(elements, function (el) {
                const dxmEffect = new DXMEffect(el, {
                    speed: 30,
                    delay: 300, 
                    // 上デフォルト100推奨
                })
                dxmEffect.init()
            })
        </script>



         </ul>
    </div> 
    </div>
    
    @* こっからしたがローディング画面処理終わり *@

    </div>
    </main>
    <partial name="_footer" />
    <!--==============JQuery読み込み===============-->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"
            integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="https://coco-factory.jp/ugokuweb/wp-content/themes/ugokuweb/data/4-1-4/js/4-1-4.js"></script>

 
</body>


